<html>
<head>
    <title>{{title}} | IUSG Congress</title>

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

    <link rel="stylesheet" href="https://assets.iu.edu/brand/3.2.x/brand.css">
    <link rel="stylesheet" href="https://assets.iu.edu/search/3.2.x/search.css">
    <link rel="stylesheet" href="https://assets.iu.edu/web/3.2.x/css/iu-framework.min.css">
    <link rel="stylesheet" href="https://assets.iu.edu/web/fonts/icon-font.css" media="screen">
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://assets.iu.edu/search/3.2.x/search.js"></script>
    <script src="https://assets.uits.iu.edu/javascript/rivet/1.7.2/rivet.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>

<body>

<header id="header">
    {{include-external "https://assets.iu.edu/brand/3.2.x/header-iub.html"}}

    <div class="site-header">
        <div class="row pad">
            <h1><a class="title" href="/">Header here (idk if necessary)</a></h1>
        </div>
    </div>
</header>