{{> partials/header.hbs }}

<main class="wide no-section-nav">
    <div class="content-top"></div>
    <div id="main-content">
        <div class="bg-none section" id="content">
            <div class="row">
                <div class="layout">
                    <div class="text"><h2>Welcome to IU Bloomington's Syllabus Sharing Site</h2>
                        <p>Type some useful description of what the website does, how to use it, etc. And please remember
                        that this is just a mockup of the general idea of the website and should only be used as a general
                        guideline of the project and to follow the specific style guidelines laid out on the IU style
                        guide for colors, formatting, typography, etc. For example a text chunk should never be this large</p>

                        <p style="margin-top: 40px; font-size: 1.4375rem;"><span><b>Search bar will go here</b></span></p>
                    </div>
                </div><!-- /.layout --></div>
        </div>
        <div class="collapsed bg-crimson bg-dark section" id="">
            <div class="row">
                <div class="layout"><h3 class="section-title">Some useful text will maybe go here</h3>
                    <div class="text"><p>here is more text</p>
                    </div><!-- /.layout --></div>
            </div>


        </div>


</main>

{{> partials/footer.hbs }}